.DS_Store
code/refs.bib
.dockerignore
sandbox
slfits/*
dat/*
docs/_book/*
docs/*.rds
local_production_runs/*
run_analyses_locally.sh
2019*
tests
static_reports/*
code/R-*
code/*.tar.gz
test_run.txt
.Rproj.user
*.Rproj
*.Rhistory
tests/*.rds
*.txt
