# Mac stuff
.DS_Store

# Compiled files and things for docs
README.html
code/refs.bib

# Docker stuff
.dockerignore

# Folders
sandbox/*
slfits/*
dat/*
docs/_book/*
docs/*.rds
docs/*
output/*
talks/*
manuscript/*
local_production_runs/*
local_code/*
2019*
tests/*
static_reports/*
code/R-*
code/*.tar.gz
test/*
runs_for_bioinf_paper/*
runs_for_amp/*

# R stuff
.Rproj.user
*.Rproj
*.Rhistory
tests/*.rds

# Txt files, local shell scripts
*.txt
test_run.txt
run_analyses_locally.sh
